@font-face{/* Customize font family */
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face{/* Customize font family */
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face{/* Customize font family */
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: bold;
    font-weight: 400;
}

@font-face{/* Customize font family */
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf.otf');
    font-style: italic;
    font-weight: 400;
}



:root{
    --grayBlack : #212121;
    --gray : #616161;
    --grayMamba : #212429;
}

*{

}

body{
    color: var(--grayBlack);
    /* font-family: charter; */
    font-family: 'Roboto', sans-serif;
}

a{
    color: var(--grayBlack);
}

/* Font size */
html{
    font-size: 62.5%;
}

/* Header properties........ */
header{
    font-size: 1.4rem;
    color: var(--gray);
}

nav details summary{
    color: var(--grayBlack);
    font-weight: bold;
}

header a{
    color: var(--gray);
    text-decoration: none;
}

header a:hover{
    color: var(--grayBlack);
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

p{
    font-size: 1.6rem;
}

pre{
    background: #FEC62E;
}

.hero{
    width: 100vw;
    height: 350px;
    background-image: linear-gradient(to top,rgb(255,255,255, .3) , transparent 120px), url('../src/patron.png');
    /* usamos linear-gradient para colocar fondos de color a imgs, to top significa que vamos de abajo hacia arriba, puedes combinar 2 a mas colores y tansparentes */
    /* background-position: center;  // ajusta el contenido a su posicion, lo situa enfrente*/
    /* background-size: cover; // Ajusta una imagen a su contenedor */
}